@import "./vendor/highlight/light-syntax.css";
@import "./vendor/highlight/dark-syntax.css";

.source-explorer-widget {
  font-family: sans-serif;
}

.source-explorer-widget .header {
  padding: 10px;
}

.source-explorer-widget .main {
  display: flex;
  height: 50vh;
}

.source-explorer-widget .files-list {
  padding: 10px 20px 10px 10px;
  overflow: auto;
}

.source-explorer-widget .current-file {
  font-family: monospace;
  color: gray;
}

.source-explorer-widget .current-folder {
  font-family: monospace;
  font-weight: bold;
}

.source-explorer-widget .files-list-item {
  color: blue;
  cursor: pointer;
  padding: 2px;
}

.source-explorer-widget .files-list-item:hover {
  text-decoration: underline;
}

.source-explorer-widget .current-file-content {
  flex: 1;
  overflow: auto;
  white-space: pre;
  padding: 12px;
  font-size: 13px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  border: 1px solid #ccc;
  border-radius: 4px;
}